// tablet landscape
@media screen and (max-width: 1025px) {
    .container {
        padding: 0 40px;
        width: 100%;
    }

    .btn {
        &.btn-medium {
            font-size: 1.6rem;
            padding: 14px 35px;
        }
    }

    main {
        section {
            &.hero {
                .hero-text-container {
                    .title {
                        font-size: 5.5rem;
                        font-weight: 600;
                        line-height: 55px;
                    }

                    .description {
                        font-size: 3rem;
                        line-height: 35px;
                        font-weight: 400;
                    }
                }
            }

            &.works {
                .grid-item, .grid-sizer {
                    width: 50%;
                }
                
                .grid-item {
                    .item {
                        height: auto;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .grid-big {
                    .item {
                        height: auto;
                    }
                }
            }
        }
    }
}
// tablet portrait
@media screen and (max-width: 992px) {
    .container {
        padding: 0 20px;
    }

    .btn {
        padding: 16px 60px;

        &.btn-medium {
            padding: 14px 50px;
        }
    
        &.btn-small {
            padding: 12px 30px;
        }
    }

    main {
        section {
            .section-title {
                font-size: 4rem;
            }

            &.hero {
                .hero-text-container {
                    width: 50%;

                    .title {
                        font-size: 4.5rem;
                        margin: 0 0 20px;
                    }

                    .description {
                        font-size: 2.6rem;
                        line-height: 30px;
                        margin: 0 0 30px;
                    }
                }

                .hero-image {
                    width: 50%;
                }
            }

            &.about {
                .container {
                    flex-wrap: wrap;
                }
                .section-title, .section-body {
                    flex: 0 0 100%;
                }

                .section-title {
                    margin: 0 0 50px;
                    text-align: center;

                    &.left::before {
                        left: calc(50% - 50px);
                    }
                }
            }

            &.services {
                .section-body {
                    .description {
                        width: 100%;
                    }
                }

                .box-container {
                    .box {
                        padding: 30px;

                        .fa {
                            font-size: 6rem;
                        }
                    }
                }
            }

            &.works {
                .section-body {
                    .description {
                        width: 100%;
                    }
                }
            }

            &.experiences {
                .section-body {
                    .description {
                        width: 100%;
                    }

                    .exp-box-container {
                        .exp-box {
                            padding: 40px 25px;
                        }
                    }
                }
            }

            &.call-to-action {
                .section-title {
                    font-size: 4rem;
                }
            }

            &.contact {
                .section-body {
                    .contact-info {
                        flex: 0 0 40%;
                    }

                    .contact-form {
                        flex: 0 0 60%;
                    }
                }
            }
        }
    }
}
// mobile portrait & landscape
@media screen and (max-width: 763px) {
    
}