// theme color
$main-color: #fbd214;
$sub-color: #feb633;

// font color
$main-font-color: #32333c;
$secondary-font-color: #666;
$body-font-color: #8a8fa3;

// bg color
$bg-section: #fbfbfb;
$bg-header: #fff;

// mixins
@mixin gradient($from, $to) {
  // fallback
  background-color: $from;
  // firefox
  background-image: -moz-linear-gradient($from, $to);
  // Safari 4+, Chrome 1+ 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  // Safari 5.1+, Chrome 10+
  background-image: -webkit-linear-gradient($from, $to);
  // Opera 11.10+
  background-image: -o-linear-gradient($from, $to);
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.container {
    width: 1200px;
    margin: auto;
}

p, a {
    font-size: 1.6rem;
    font-weight: 400;
}

.btn {
    padding: 20px 70px;
    letter-spacing: 1.6px;
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    background: white;
    border: 2px solid $main-font-color;
    border-radius: 4px;
    transition: all .3s ease;

    + .btn {
        margin: 0 0 0 20px;
    }

    &.btn-medium {
        font-size: 1.8rem;
        padding: 16px 55px;
    }

    &.btn-primary {
        background: $sub-color;
        color: white;
        border-color: $sub-color;

        &:hover {
            background: white;
            color: $sub-color;
        }
    }

    &.btn-o-primary {
        background: white;
        color: $sub-color;
        border-color: $sub-color;

        &:hover {
            background: $sub-color;
            color: white;
        }
    }
}

header {
    height: 88px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.2);

    .container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1;
        color: $main-color;
        text-decoration: none;
    }

    nav {
        display: flex;
        align-items: center;

        a {
            color: $main-font-color;
            font-size: 1.4rem;
            text-decoration: none;
            margin: 0 0 0 42px;
            transition: all .3s ease;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background: $sub-color;
                transition: all .3s ease;
            }

            &:hover, &.active, &.home {
                color:$sub-color;

                &::before {
                    width: 50%;
                }
            }
        }
    }
}

main {
    section {
        .section-title {
            font-size: 4.5rem;
            font-weight: 700;
            color: $main-font-color;
            position: relative;
            display: inline-block;

            &::before {
                content:'';
                display: block;
                width: 100px;
                height: 4px;
                background: $sub-color;
                position: absolute;
                left: calc(50% - 50px);
                bottom: -5px;
            }

            &.left {
                &::before {
                    left: 0;
                }
            }
        }

        &.hero {
            background: $bg-section;
            margin-top: 88px;
            padding-top: 95px;

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .hero-text-container {
                width: 40%;

                .title {
                    font-size: 7.5rem;
                    font-weight: 700;
                    margin: 0 0 33px;
                    padding: 0;
                    line-height: 88px;
                }

                .description {
                    color: $secondary-font-color;
                    font-size: 2.3rem;
                    font-weight: 400;
                    margin: 0 0 55px;
                    padding: 0;
                }
            }

            .hero-image {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }

        &.about {
            padding: 115px 0 130px;
            background: white;

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .section-title {
                flex: 0 0 auto;
                margin: 0 90px 0 0;
            }
            .section-body {
                flex: 0 0 50%;

                .description {
                    margin: 0 0 30px 0;

                    p {
                        color: $body-font-color;
                    }

                    p + p {
                        margin: 30px 0 0 0;
                    }
                }
            }
        }

    }
}