// theme color
$main-color: #fbd214;
$sub-color: #feb633;

// font color
$main-font-color: #32333c;
$secondary-font-color: #666;
$body-font-color: #8a8fa3;

// bg color
$bg-section: #fbfbfb;
$bg-header: #fff;

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

div, section {
    box-sizing: border-box !important;
}

.container {
    width: 1200px;
    margin: auto;
}

p, a {
    font-size: 1.6rem;
    font-weight: 400;
}

.btn {
    padding: 20px 70px;
    letter-spacing: 1.6px;
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    background: white;
    border: 2px solid $main-font-color;
    border-radius: 4px;
    transition: all .3s ease;

    + .btn {
        margin: 0 0 0 20px;
    }

    &.btn-medium {
        font-size: 1.8rem;
        padding: 16px 55px;
    }

    &.btn-small {
        font-size: 1.4rem;
        padding: 14px 40px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    &.btn-primary {
        background: $sub-color;
        color: white;
        border-color: $sub-color;

        &:hover {
            background: white;
            color: $sub-color;
        }
    }

    &.btn-o-primary {
        background: white;
        color: $sub-color;
        border-color: $sub-color;

        &:hover {
            background: $sub-color;
            color: white;
        }
    }
}

header {
    height: 88px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.2);

    .container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1;
        color: $main-color;
        text-decoration: none;
    }

    nav {
        display: flex;
        align-items: center;

        a {
            color: $main-font-color;
            font-size: 1.4rem;
            text-decoration: none;
            margin: 0 0 0 42px;
            transition: all .3s ease;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background: $sub-color;
                transition: all .3s ease;
            }

            &:hover, &.active {
                color:$sub-color;

                &::before {
                    width: 50%;
                }
            }
        }
    }
}

main {
    section {
        .section-title {
            font-size: 4.5rem;
            font-weight: 700;
            color: $main-font-color;
            position: relative;
            display: inline-block;

            &::before {
                content:'';
                display: block;
                width: 100px;
                height: 4px;
                background: $sub-color;
                position: absolute;
                left: calc(50% - 50px);
                bottom: -5px;
            }

            &.left {
                &::before {
                    left: 0;
                }
            }
        }

        .section-body {
            .description {

                p {
                    color: $body-font-color;
                }

                p + p {
                    margin: 30px 0 0 0;
                }
            }
        }

        &.hero {
            background: $bg-section;
            margin-top: 88px;
            padding-top: 95px;

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .hero-text-container {
                width: 40%;

                .title {
                    font-size: 7.5rem;
                    font-weight: 700;
                    margin: 0 0 33px;
                    padding: 0;
                    line-height: 88px;
                }

                .description {
                    color: $secondary-font-color;
                    font-size: 2.3rem;
                    font-weight: 400;
                    margin: 0 0 55px;
                    padding: 0;
                }
            }

            .hero-image {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }

        &.about {
            padding: 115px 0 130px;
            background: white;

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .section-title {
                flex: 0 0 auto;
                margin: 0 90px 0 0;
            }
            .section-body {
                flex: 0 0 50%;

                .description {
                    margin: 0 0 30px 0;
                }
            }
        }

        &.services {
            padding: 115px 0 130px;
            background: $bg-section;
            
            .container {
                display: flex;
                flex-wrap: wrap;
            }

            .section-title {
                margin: 0 auto 35px;
            }

            .section-body {
                .description {
                    width: 60%;
                    margin: 0 auto 80px;
                    text-align: center;
                }
            }

            .box-container {
                display: flex;
                flex-wrap: wrap;

                .box {
                    $borderRad: 10px;
                    border-radius: $borderRad;
                    width: calc(50% - 15px);
                    background: url('../images/service-3.jpg');
                    background-size: 100% auto;
                    position: relative;
                    padding: 60px 80px;
                    color: white;

                    &::before {
                        content: '';
                        position: absolute;
                        border-radius: $borderRad;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        background-image: -webkit-linear-gradient(-48deg,rgb(36,226,254)0%,rgb(36,176,254)54%,rgb(35,126,253)100%);
                        opacity: .85;
                    }

                    .text-container {
                        position: relative;
                        z-index: 2;
                    }

                    &.box-yellow {
                        &::before {
                            background-image: -webkit-linear-gradient(-48deg,rgb(255,211,36)0%,rgba(254,187,36,0.99)54%,rgba(253,163,35,0.99)100%);
                        }
                    }

                    &.box-red {
                        background-image: url('../images/service-4.jpg');

                        &::before {
                            background-image: -webkit-linear-gradient(-48deg,rgba(248,47,160,0.99)0%,rgba(214,54,208,0.99)54%,rgba(180,61,255,0.99)100%);
                        }
                    }

                    &.box-green {
                        &::before {
                            background-image: -webkit-linear-gradient(-48deg,rgba(0,188,128,0.99)0%,rgba(2,204,71,0.99)54%,rgba(3,220,13,0.99)100%);
                        }
                    }

                    &:nth-child(n+3) {
                        margin-top: 30px;
                    }

                    &:nth-child(2n) {
                        margin-left: 30px;
                    }

                    .fa {
                        font-size: 8rem;
                        margin: 0 0 10px;
                    }

                    .title {
                        font-size: 2.4rem;
                        font-weight: 500;
                        letter-spacing: 1.2px;
                        margin: 0 0 15px;
                    }
                }
            }
        }

        &.works {
            padding: 120px 0 80px;
            background: white;

            .container {
                display: flex;
                flex-wrap: wrap;
            }

            .section-title {
                margin: 0 auto 35px;
            }

            .section-body {
                .description {
                    width: 60%;
                    margin: 0 auto 40px;
                    text-align: center;
                }
            }

            .filter-box {
                margin: 0 0 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    color: $main-font-color;
                    font-size: 1.6rem;
                    text-decoration: none;
                    margin: 0 0 0 42px;
                    transition: all .3s ease;
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: $sub-color;
                        transition: all .3s ease;
                    }

                    &:hover, &.is-selected {
                        color:$sub-color;
                    }

                    &.is-selected {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }

            .grid {
                width: 100%;
            }

            .grid-item, .grid-sizer {
                width: 25%;
            }

            .grid-item {
                margin-bottom: 30px;

                .item {
                    width: calc(100% - 30px);
                    margin: 0 15px;
                    height: 275px;
                }

                .info {
                    background: transparentize($main-color, .2);
                    color: white;
                    position: absolute;
                    top: 44px;
                    opacity: 0;
                    left: 15px;
                    right: 15px;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-decoration: none;
                    transition: all .3s ease;

                    * {
                        margin: 0 0 10px;
                    }
                }

                &:hover {
                    .info {
                        opacity: 1;
                        top: 0;
                    }
                }
            }

            .grid-big { 
                width: 50%;

                .item {
                    width: calc(100% - 30px);
                    margin: 0 15px;
                    height: 580px;
                }
            }

            .grid-big-h {
                width: 50%;

                .item {
                    width: calc(100% - 30px);
                    margin: 0 15px;
                    height: 275px;
                }
             }
        }

        &.experiences {
            padding: 115px 0 130px;
            background: $bg-section;

            .container {
                display: flex;
                flex-wrap: wrap;
            }

            .section-title {
                margin: 0 auto 35px;
            }

            .section-body {
                .description {
                    width: 60%;
                    margin: 0 auto 94px;
                    text-align: center;
                }

                .exp-box-container {
                    display: flex;

                    .exp-box {
                        flex: 1 1 calc(100%/3);
                        padding: 70px 35px;
                        text-decoration: none;
                        background: white;
                        border: 1px solid #efefef;
                        transition: all .3s ease;
                        color: $body-font-color;

                        &:hover {
                            background: $sub-color;
                            color: $main-font-color;
                        }

                        .job-title {
                            color: $main-font-color;
                            font-size: 2.2rem;
                            font-weight: 700;
                            letter-spacing: 1.2px;
                        }

                        .company, .date {
                            font-size: 1.5rem;
                        }

                        .company {
                            margin: 0 0 20px 0;
                        }

                        .job-desc {
                            p { 
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }

        &.call-to-action {
            padding: 115px 0 130px;
            background: $main-color;

            .container {
                display: flex;
                flex-direction: column;
            }

            .section-title {
                margin: 0 auto 50px;
                color: white;
                font-size: 5rem;

                &::before {
                    bottom: -15px;
                    background: white;
                }
            }

            .btn {
                margin: auto;
                border: none;

                &:hover {
                    background: black;
                }
            }
        }

        &.contact {
            padding: 115px 0 130px;
            background: $bg-section;

            .container {
                display: flex;
                flex-direction: column;
            }

            .section-title {
                margin: 0 auto 40px;
            }

            .section-body {
                display: flex;

                .contact-info {
                    flex: 0 0 calc(100%/3);
                    font-size: 1.6rem;
                    color: $body-font-color;

                    .info-title {
                        margin: 0 0 35px 0;
                        color: $main-font-color;
                        font-size: 2rem;
                        font-weight: 500;
                    }

                    .social-media {
                        a {
                            text-decoration: none;
                            font-size: 1.6rem;
                            color: $body-font-color;
                            transition: all .3s ease;

                            &:hover {
                                color: $sub-color;
                            }

                            + a {
                                margin: 0 0 0 15px;
                            }
                        }
                    }

                    .info {
                        margin: 0 0 40px 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: baseline;

                        .fa {
                            display: inline-block;
                            font-size: 1.8rem;
                            margin: 0 15px 0 0;
                        }
                    }
                }

                .contact-form {
                    flex: 0 0 calc(200%/3);

                    .rows {
                        display: flex;
                        justify-content: flex-start;
                    }

                    .input-group {
                        flex: 1 1 100%;
                        margin: 0 0 35px;

                        + .input-group {
                            padding: 0 0 0 20px;
                        }

                        label {
                            margin: 0 0 10px;
                            display: block;
                            font-size: 1.5rem;
                            text-transform: uppercase;
                            color: $main-font-color;
                        }
                        input, textarea {
                            width: 100%;
                            box-sizing: border-box;
                            outline: none;
                            padding: 20px;
                            background: white;
                            border: 1px solid #efefef;
                            color: $body-font-color;
                            font-size: 1.6rem;
                            box-shadow: 0 5px 0 0px #efefef;
                            transition: all .3s ease;

                            &:focus {
                                box-shadow: 0 5px 10px 3px #efefef
                            }
                        }

                        textarea {
                            font-family: 'Poppins', sans-serif;
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}