$main-color: #fbd214;
$main-font-color: #32333c;
$sub-color: #feb633;

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
